:root {
  font-family: sans-serif;
}

:where(pre) {
  font-size: 1rem;
  white-space: pre-wrap;
}

.spacer {
  height: var(--h, 50vh);
  background: rgba(0, 0, 0, 0.1);
}

.h-25 {
  --h: 25vh;
}

.h-50 {
  --h: 50vh;
}

.h-100 {
  --h: 100vh;
}

.h-200 {
  --h: 200vh;
}

.place-center {
  display: flex;
  place-items: center;
  place-content: center;
  height: var(--h);
}

[intersecting] {
  transition: all 0.5s linear;
}

[intersecting="true"] {
  background: black;
  color: white;
}

.no-overflow {
  overflow: hidden;
}
